body {
     background-color: #EEE;
}

.container {
     margin-top: 1%;
     margin-bottom: 1%;
     padding: 2%;
     background-color: #FFF;
     border-radius: 5px;
}

.help-inline{
     color: #a94442;
}

#answers {
     margin: 1%;
     padding: 1%;
     background-color: #EEE;
     border-radius: 5px;
}

.glyphicon {
     cursor: pointer;
}